# Core Python

## Tipos de datos
- Números enteros
- Números flotantes
- Strings
- Booleanos (lógicos)
- Números complejos

### Enteros

In [1]:
1

1

In [2]:
23487523

23487523

In [4]:
1,500,000

(1, 500, 0)

### Flotantes

In [1]:
1.5

1.5

In [2]:
3.1416

3.1416

In [3]:
21312.654234

21312.654234

### Strings

In [4]:
"Soy un string"

'Soy un string'

In [5]:
'Pueden ser con comillas singulares también'

'Pueden ser con comillas singulares también'

In [6]:
"Si usamos comillas dobles, nuestro string puede incluir 'comillas singulares' sin ningún problema"

"Si usamos comillas dobles, nuestro string puede incluir 'comillas singulares' sin ningún problema"

In [7]:
"Pero también podemos \"escapar\" caracteres"

'Pero también podemos "escapar" caracteres'

### Booleanos
Los booleanos también se conocen como variables o valores lógicos. Un booleano puede tomar únicamente dos valores: `True` o `False`. Los booleanoos son los resultados de las operaciones lógicas (las veremos más adelante).

In [8]:
True

True

In [9]:
False

False

In [10]:
5 > 4

True

In [11]:
10 < 100

True

In [12]:
7 < 3

False

In [13]:
"Gerardo" == "gerardo"

False

## Variables
Python no es un lenguaje `tipado`, es decir, no tenemos que especificar el tipo de dato de nuestra variable al declararla.

En lenguajes tipados (C#) debemos declarar nuestras variables especificando el tipo de dato de nuestra variable:

~~~~c#
int x = 5;
int y = 20;
double z = 45.2;
~~~~

Esto no es necesario en Python. El intérprete automáticamente infiere el tipo de dato que estamos usando
~~~~python
x = 5
y = 20
z = 45.2
~~~~

In [14]:
x = 5
y = 20
z = 45.2

In [15]:
x

5

In [16]:
y

20

In [17]:
z

45.2

In [18]:
nombre = "Gerardo"
apellido = "Mathus"

In [19]:
nombre

'Gerardo'

In [20]:
apellido

'Mathus'

In [21]:
apellido_materno

NameError: name 'apellido_materno' is not defined

In [22]:
apellido_materno ="Gómez Sandoval"

In [23]:
apellido_materno

'Gómez Sandoval'

**Pensemos en una variable como en una 'caja' en la cual vamos a guardar valores.**

In [24]:
bandera = True

In [25]:
bandera

True

In [26]:
resultado_comparacion = 100 > 1000

In [27]:
resultado_comparacion

False

---

## Operadores de comparación
- `==`
- `!=`
- `>`
- `>=`
- `<`
- `<=`

In [28]:
5 == 5

True

In [29]:
comp = 5 == 10

In [30]:
comp

False

In [31]:
5 == "5"

False

In [32]:
5.0 == 5

True

In [33]:
5.1 == 5

False

In [34]:
5 != "5"

True

In [35]:
10 != 50

True

In [36]:
"Gerardo" == "gerardo"

False

In [37]:
"mathus" == "mathus"

True

In [38]:
nombre1 = "Karla"
nombre2 = "Paz"

In [39]:
nombre1

'Karla'

In [40]:
nombre2

'Paz'

In [41]:
nombre1 == nombre2

False

In [42]:
nombre1 != nombre2

True

In [46]:
x = 9
y = 10

In [47]:
x < y

True

In [48]:
9 <= 9

True

In [49]:
int(x == y)

0

In [50]:
int(False)

0

In [51]:
int(True)

1

---

## Operadores lógicos
- `and`
- `or`
- `not`

In [52]:
True & True

True

In [53]:
True and True

True

In [54]:
True and False

False

In [55]:
True & False

False

In [56]:
True or True

True

In [57]:
True or False

True

In [58]:
True | False

True

## Concatenación de operadores lógicos - Comparaciones complejas
Supogamos que queremos otorgar una promoción a todas las mujeres que tengan entre 21 y 30 años:

In [63]:
sexo = input("Sexo (h/m): ")

Sexo (h/m): m

In [64]:
edad = int(input("Edad: "))

Edad: 28

In [66]:
promocion_aplica = sexo == 'm' and edad >= 21 and edad <= 30

In [67]:
promocion_aplica

True

In [75]:
sexo = "h"
promocion_aplica = sexo == 'm' and edad >= 21 and edad <= 30
print("Promoción aplica:",promocion_aplica)

Promoción aplica: False

In [76]:
sexo = "m"
edad = 32
promocion_aplica = sexo == 'm' and edad >= 21 and edad <= 30
print("Promoción aplica:",promocion_aplica)

Promoción aplica: False

In [77]:
sexo = "m"
edad = 30
promocion_aplica = sexo == 'm' and edad >= 21 and edad <= 30
print("Promoción aplica:",promocion_aplica)

Promoción aplica: True

---

## Operaciones con datos
- suma `+`
- resta `-`
- multiplicación `*`
- división `/`
- ** `exponenciales`
- modular `%`

In [78]:
5 + 5

10

In [79]:
5 - 1

4

In [80]:
65 * 2

130

In [81]:
5000/20

250.0

In [82]:
9 ** 2

81

In [83]:
3 ** 3

27

In [84]:
10 % 3

1

In [85]:
a = 5
b = 2

In [86]:
a * b

10

In [87]:
a / b

2.5

In [88]:
a ** b

25

In [89]:
print(b)

2

In [90]:
string1 = "Soy una cadena de caracteres"
print(string1)

Soy una cadena de caracteres

In [91]:
string2 = "Python hace muy fácil el manejo de strings"

In [92]:
string1 + string2

'Soy una cadena de caracteresPython hace muy fácil el manejo de strings'

In [93]:
string1 - string2

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [94]:
string1 / string2

TypeError: unsupported operand type(s) for /: 'str' and 'str'

In [95]:
string1 * string2

TypeError: can't multiply sequence by non-int of type 'str'

In [96]:
"*" * 40

'****************************************'

## Listas
Una lista es una secuencia de valores. Se caracterizan por ser mutables y porque sus valores están indexados. Veamos:

In [97]:
lista = [1,3,5,7,9]
lista

[1, 3, 5, 7, 9]

In [98]:
lista[1]

3

In [99]:
lista * 3

[1, 3, 5, 7, 9, 1, 3, 5, 7, 9, 1, 3, 5, 7, 9]

In [100]:
lista[0:2]

[1, 3]

In [101]:
lista.append(11)

In [102]:
lista

[1, 3, 5, 7, 9, 11]

In [103]:
lista.append(13)
lista

[1, 3, 5, 7, 9, 11, 13]

In [104]:
lista.remove(13)

In [106]:
lista

[1, 3, 5, 7, 9, 11]

In [107]:
lista.remove(1)
lista

[3, 5, 7, 9, 11]

In [108]:
lista.remove(1)

ValueError: list.remove(x): x not in list

In [109]:
lista

[3, 5, 7, 9, 11]

Si queremos acceder al número 7, tenemos que contar desde 0 de izquierda a derecha hasta llegar a la posición en la que se encuentra el 7.

$[0] \rightarrow 3$

$[1] \rightarrow 5$

$[2] \rightarrow 7$

$[3] \rightarrow 9$

$[4] \rightarrow 11$

In [111]:
#El número 7 está en el índice 2
lista[2]

7

In [112]:
#El número 11 está en el índice 4
lista[4]

11

In [113]:
#no hay índicc > 4
lista[5]

IndexError: list index out of range

Una lista puede tener elementos de diferentes tipos de dato

In [114]:
lista2 = ['Gerardo', 'Mathus', 24, 3.1416, True]

In [115]:
lista2

['Gerardo', 'Mathus', 24, 3.1416, True]